node_modules

# misc
local.*
.DS_Store
.env*.local
.idea/
# Ignore env.production.* because those will be overwritten during the build process.
.env.production*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

config/local*

dist/*
